.background-color-join{
    /* background-color: grey; */
    background-color: #020c31;
    /* padding: 40px; */
    /* padding: 60px; */

}
.join-section-inner{
    text-align: center;
    padding: 50px;
}

.join-data{
    margin: 10px 0px;

}